/* CSS FOR HEADER */

#navbarExampleTransparentExample {
    background-color: black;
    height: 100vh;
    width: 250px;
}
.navbar-burger.burger {
    background-color: black;
}

.icon {
    color: white;
    margin-right: 1rem;
  }

a.navbar-item {
    color: white;
}

hr.navbar-divider {
    display: block;
    background-color: #1f2f39;
    margin: 1rem;
}

.image img {
    border-radius: 50px;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.user-review, .user-review-written {
    display: flex;
    justify-content: space-around;
}

.user-review {
    margin-top: -47px;
    color: white;
}

.user-review-written {
    margin-top: -0.5rem;
    margin-left: 1.5rem;
}

