/* CSS FOR HEADER */

#navbarExampleTransparentExample {
    background-color: #060b0e;
    height: 100vh;
    width: 250px;
    margin-left: -52px;
}
.navbar-burger.burger {
    background-color: #060b0e;
}

.icon {
    color: white;
    margin-right: 1rem;
  }

a.navbar-item {
    color: white;
}

hr.navbar-divider {
    display: block;
    background-color: #1f2f39;
    margin: 1rem;
}

.user-wrapper {
    margin-top: 2.5rem;
}

.image img {
    border-radius: 50px;
    margin-left: 1rem;
}

.image-logo {
    margin-top: -38px;
    left: 10.5rem;
}

.image-license img {
    margin-top: 4rem;
    margin-left: 6rem;
    color: #1f2f39;
}

.user-review, .user-review-written {
    display: flex;
    justify-content: space-around;
}

.user-review {
    margin-top: -40px;
    margin-left: -2rem;
    margin-bottom: 0.2rem;
    color: white;
    font-size: 12px;
}

.user-review-written {
    margin-top: -0.4rem;
    margin-left: -1.5rem;
    font-size: 10px;
}

.navbar-burger span {
    color: white;
    display: none;
}

body {
    width: 100%;
    height: 100%;
  }

.header-license {
    margin-top: 0.3rem;
    margin-left: 5.5rem;
    font-size: 10px;
    color: #1f2f39;
}

.header-license.emdb {
    margin-left: 5.7rem;
    font-size: 10px;
    color: #1f2f39;
    margin-top: 0;
}
