html, body {
    padding: 0;
    margin: 0;
    background-color: #060B0E;
}

.section.movie-poster {
    height: 70vh;
    background-image: url("https://admin.codex.online/?action=asset&id=547E274F-A551-4951-8A16-2B79179CA66E");
    background-position: 25% 25%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.section.movie-poster h2 {
    color: #F6F6F6; 
    position: absolute;
    bottom: 3em;
    left: 2em;
}
.section.movie-poster p {
    bottom: 12em;
    left: 5.5em;
    color: #F6F6F6;
    position: absolute;
    
}
.section.movie-poster div {
    padding: 20px;
}
.section.movie-poster h1 {
    color: #FFCF4D;
    position: absolute;
    bottom: 5em;
    left: 2em;
}
.section.movie-poster .button {
    position: absolute;
    left: 2em;
    bottom: 1;
    padding: 0 1em;
    background-color: transparent;
    border: 1px solid #7af9ba;
    color: #7af9ba;
    transition: 0.2s ease-in;
}
.section.movie-poster #trailer-button {
    left: 11em;
}
.section.movie-poster .button:hover {
    color: black;
    background-color: #7af9ba;
    transition: 0.2s ease-in;
}

/* Upcoming Movies */
.columns img {
    border: #1F2f39 1px solid;

    transition: 0.5s ease-in;
}

.columns img:hover {
    border: #7af9ba solid 1px;
    cursor: pointer;

    transition: 0.5s ease-in;
}

/* Trailer */
iframe {
    width: 100%;
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 425px) {
    .section.movie-poster {
        background-position: right;
        height: 75vh;
    }


}

@media only screen and (max-width: 320px) {
    }
    .section.movie-poster h2 {
        left: 5%;
    }
    .section.movie-poster p {
        left: 5%;
        
    }
    .section.movie-poster h1 {
        left: 5%;
    }
    .section.movie-poster .button {
        left: 5%;
    }
    .section.movie-poster #trailer-button {
        left: 9em;
    }


}

