
// Fonts

@import '/font/sourcesans.css';

// Variables
@import "bulma";

//Main colors
$deep-blue: #060B0E;
$turquoise: #7AF9BA;
$sky-blue: #6EADFF;
$warm-sun: #FFCF4D;
$gravel-grey: #4B4B4B;

//Color variations
$navy-blue: #1F2F39;
$piggelin: #b7ffdb;
$happy-blue: #5AD2FF;
$mithril: #CCCCCC;
$aluminium: #DDDDDD;
$pale-silver: #F6F6F6;

$font-stack: "Source Sans Pro", "Helvetica", "Arial", Sans-serif;

//Mixins

//Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  }
  

body {
    font-family: $font-stack;    
}

//Typography
h1,h2,h3,h4,h5 {
    font-weight: 900;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

//Hero - Featured

.hero-body {
    padding-bottom: 1em;
}

.featured {
    background-size: cover;
    background-position: top center;
    min-height: 325px;
}

.featured__content--bottom {
    width:100%;
    align-self:flex-end;
    justify-content: space-between;
}

.featured__info-genre {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}

.featured__info-title {
    font-size: 28px;
    color: #FFF;
}

.featured__rating {
    align-items: flex-end;

    span {
        font-size:28px;
        color: $warm-sun;
        font-weight: bold;
    }
}

//Hero - Takeover

.takeover {
    background-size: cover;
    background-position: top center;
    min-height: 180px;
    margin-bottom: 1em;
}

.takeover__content--bottom {
    width:100%;
    align-self:flex-end;
    justify-content: space-between;
}

.takeover__info-genre {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}

.takeover__info-title {
    font-size: 28px;
    color: #FFF;
}

.takeover__cta {
    align-items: flex-end;

}

//Buttons

.button {
    @include border-radius(2px);
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 12px;
    border:none;
}

.button--small {
    min-width: 96px;
    min-height: 30px;
}

.button--big {
    min-width: 140px;
    min-height: 40px;
}

.button--border-blue {
    border: 1px solid $sky-blue;
    background: none;
    color: #FFF;

    &:hover {
        border: 1px solid $sky-blue;    
        background-color: $sky-blue;
        color: #FFF;
    }
}

.button--solid-blue {
    background-color: $sky-blue;
    color: #FFF;

    &:hover {
        color: #FFF;
        background-color: $happy-blue; 
    }
}

.button--solid-yellow {
    background-color: $warm-sun;
    color: $deep-blue;
    
    &:hover {
        color: #FFF;
        background-color: $warm-sun; 
    }
}

.button--border-yellow {
    border: 1px solid $warm-sun;
    background: none;
    color: #FFF;

    &:hover {
        border: 1px solid $warm-sun;    
        background-color: $warm-sun;
        color: #FFF;
    }
}

.button--border-turquoise {
    border: 1px solid $turquoise;
    background: none;
    color: #FFF;

    &:hover {
        border: 1px solid $turquoise;    
        background-color: $turquoise;
        color: #FFF;
    }
}

//Divider 

.divider {
    width: 100%;
    margin-bottom: 1em;

    a {
        color: $sky-blue;
        font-size: 14px;
        font-weight: bold;
    }
}

.divider__info {
    width: 100%;
    justify-content: space-between;
}

.divider__line {
    width: 100%;
    height: 1px;
    background-color: $aluminium;
    display:block;
}

//Review block

.review__poster {
    position: relative;
}

.review__rating {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $warm-sun;
    font-size: 38px;
    font-weight: 600;
    text-shadow: 0px 0px 14px #000;
}

.review__info {
    // align-items: center;
}

.review__avatar {
    width:48px;
    height:48px;
    margin-right:1em;
    img {
        @include border-radius(24px);
    }
}

.review__title {
    font-size: 14px;
}

.review__author {
    font-style: italic;
    font-size: 12px;
    color: $mithril;
}

//Rating diagram

.chart {
  position: relative;
  color: #fff;
  background-color: #000;
}

.rating {
  color: #fff;
  position: absolute;
  left: 50px;
  top: 25px;
  z-index: 1;
}