/* Yellow Buttons*/
a.large-button-yellow {
    color: #FFCF4D;
    border: 1px solid #FFCF4D;
    border-radius: 3px;
    padding:6px 14px;
    font-size: 10px;
    min-width: 140px;
    min-height: 40px;
    transition: 0.2s ease-in;

}

a.large-button-yellow:hover {
    color: #060B0E;
    background-color: #FFCF4D;
    transition: 0.2s ease-in;

}
    
a.small-button-yellow {
    color: #FFCF4D;
    border: 1px solid #FFCF4D;
    border-radius: 3px;
    padding:4px 10px;
    font-size: 10px;
    min-width: 96px;
    min-height: 30px;
    transition: 0.2s ease-in;

}

a.small-button-yellow:hover {
    color: #060B0E;
    background-color: #FFCF4D;
    transition: 0.2s ease-in;

}

/* Green Buttons*/

a.large-button-green {
    color: #7af9ba;
    border: 1px solid #7af9ba;
    border-radius: 3px;
    padding:6px 14px;
    font-size: 10px;
    min-width: 140px;
    min-height: 40px;
    transition: 0.2s ease-in;

}

a.large-button-green:hover {
    color: #f6f6f6;
    background-color: #7af9ba;
    transition: 0.2s ease-in;

}
    
a.small-button-green {
    color: #7af9ba;
    border: 1px solid #7af9ba;
    border-radius: 3px;
    padding:4px 10px;
    font-size: 10px;
    min-width: 96px;
    min-height: 30px;
    transition: 0.2s ease-in;

}

a.small-button-green:hover {
    color: #f6f6f6;
    background-color: #7af9ba;
    transition: 0.2s ease-in;

}

/* Blue Buttons*/

a.large-button-blue {
    color: #6EADFF;
    border: 1px solid #6EADFF;
    border-radius: 3px;
    padding:6px 14px;
    font-size: 10px;
    min-width: 140px;
    min-height: 40px;
    transition: 0.2s ease-in;

}

a.large-button-blue:hover {
    color: #f6f6f6;
    background-color: #6EADFF;
    transition: 0.2s ease-in;

}
    
a.small-button-blue {
    color: #6EADFF;
    border: 1px solid #6EADFF;
    border-radius: 3px;
    padding:4px 10px;
    font-size: 10px;
    min-width: 96px;
    min-height: 30px;
    transition: 0.2s ease-in;

}

a.small-button-blue:hover {
    color: #f6f6f6;
    background-color: #6EADFF;
    transition: 0.2s ease-in;

}

/* White Buttons*/

a.large-button-white {
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    padding:6px 14px;
    font-size: 10px;
    min-width: 140px;
    min-height: 40px;
    transition: 0.2s ease-in;

}

a.large-button-white:hover {
    color: #060B0E;
    background-color: #f6f6f6;
    transition: 0.2s ease-in;

}
    
a.small-button-white {
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    padding:4px 10px;
    font-size: 10px;
    min-width: 96px;
    min-height: 30px;
    transition: 0.2s ease-in;

}

a.small-button-white:hover {
    color: #060B0E;
    background-color: #f6f6f6;
    transition: 0.2s ease-in;

}