/* Charts Styling using grid. */
.charts__titles {
    padding-left: 15px;
}

div.grid-chart {
    margin: 0 5px 10px 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 7px;
    img.posters {
        height: 220px;
    }
    img.stars {
        float: left;
        margin-right: 3px;
    }
}

@media only screen and (max-width: 1024px) {
    div.grid-chart {
        img.posters {
            height: 180px;
        }
    }
}

@media only screen and (max-width: 768px) {
    div.grid-chart {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 425px) {
    div.grid-chart {
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 375px) {
    div.grid-chart {
        img.posters {
            height: 160px;
        }
    }
}

@media only screen and (max-width: 340px) {
    div.grid-chart {
        grid-gap: 4px;
        margin: 0 4px;
        img.posters {
            height: 130px;
        }
    }
}