/* Charts Styling using grid. */
.charts__titles {
    padding-left: 15px;
}

div.grid-chart {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 45px repeat(2, 1fr);
    width: 60%;
    border: rgb(228, 228, 228) solid 1px;
    img.posters {
        height: 75px;
        width: 45px;
    }
    h5 {
        padding-top: 7%;
        font-weight: 500;
        font-size: 1.3em;
    }
    .charts--rating {
        display: flex;
        align-items: center;
        justify-content: center;
        i, span.charts__rating {
            align-self: center;
            justify-self: center;
        }
    }
}

@media only screen and (max-width: 1024px) {
    div.grid-chart {
        width: 65%;
    }
}

@media only screen and (max-width: 768px) {
    div.grid-chart {
        width: 85%;
    }
}

@media only screen and (max-width: 425px) {
    div.grid-chart {
        width: 85%;
        h5 {
            font-size: 1em;
        }
    }
}

@media only screen and (max-width: 375px) {
    div.grid-chart {
        width: 90%;
    }
}

@media only screen and (max-width: 340px) {
    div.grid-chart {
        width: 95%;
    }
}