.item {
  .featured {
    align-items: center;
    text-align: center;
    &__info {
      &__actions {
        display: flex;
        justify-content: center;
        > li {
          justify-content: space-between;
          margin: 0.5em;
        }
      }
    }
  }
  .plot {
    margin-left: 1em;
    margin-right: 1em;
    &__poster-img {
        float: left;
        width: 182px;
        height: 268px;
        margin: 0em 1em 2em 1em;
    }
    &__text {
        margin-top: 2em;
        padding: 0em 1em 0em 1em;
    }
  }
  .cast-crew,
  .review {
    margin: 1em;
  }
}