// * {
//     width: 100%;
// }

// .item-info {
//     background-color: greenyellow;
// }

.plot {
    margin-left: 1em;
    margin-right: 1em;
}

.poster-img {
    float: left;
    width: 182px;
    height: 268px;
    margin: 2em 1em 2em 1em;
}

.plot-text {
    padding: 1em;
}

.cast-crew {
    margin: 1em;
}

