* {
    width: 100%;
}

// .item-info {
//     background-color: greenyellow;
// }

#plot {
    background-color: black;
}

.poster-img {
    float: left;
    height: 180px;
    width: 130px;
    margin: 10px;
}

.plot-text {
    color: white;
    padding: 1em;
}

// .cast-crew {
//     background-color: red;
// }

