* {
    width: 100%;
}

// .item-info {
//     background-color: greenyellow;
// }

.poster-img {
    float: left;
    width: 182px;
    height: 268px;
    margin: 10px;
}

.plot-text {
    color: white;
    padding: 1em;
}

// .cast-crew {
//     background-color: red;
// }

