div.column.is-5 {
    box-shadow: none;
    p, a {
        color:white;
    }
    div {
        background-color:transparent;
        box-shadow: none;
        
    }
}

div.columns.is-marginless.is-centered {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://image.tmdb.org/t/p/original/pafm4gX43byVURznhB4TMlEfymr.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    height:60vh;
}

.checkbox:hover {
    color: white;
} 


