//Main colors
$deep-blue: #060B0E;
$turquoise: #7AF9BA;
$sky-blue: #6EADFF;
$warm-sun: #FFCF4D;
$gravel-grey: #4B4B4B;

//Color variations
$navy-blue: #1F2F39;
$piggelin: #b7ffdb;
$happy-blue: #5AD2FF;
$mithril: #CCCCCC;
$aluminium: #DDDDDD;
$pale-silver: #F6F6F6;

$font-stack: "Source Sans Pro", "Helvetica", "Arial", Sans-serif;
