.avatar {
  border-radius: 50%;
}

.i82x82 {
  height: 82px;
  width: 82px;
  margin: 10px;
}

.i64x64 {
  height: 64px;
  width: 64px;
  margin: 10px;
}

.i48x48 {
  height: 48px;
  width: 48px;
  margin: 10px;
}

.i42x42 {
  height: 42px;
  width: 42px;
  margin: 10px;
}
